<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <%- include("./partials/nav.ejs") %>
    <h2>Your products!</h2>

    <table>
        <% for(var i=0; i < products.length; i++) { %>
           <tr>
             <td><%= products[i].title %></td>
             <td><%= products[i].price %></td>
             <td><img src=<%= products[i].thumbnail %> alt="" style="width: 100px"></td>
           </tr>
        <% } %>
        </table>
</body>
</html>